<div>
    <h4>
        Create form
    </h4>
    <form>
        <div class="w-full flex flex-warp">
            <mat-form-field >
                <mat-label>Name</mat-label>
                <input type="text" matInput  placeholder="Name">
              </mat-form-field>
        </div>
        <div class="w-full flex flex-warp">
            <mat-form-field >
                <mat-label>Email</mat-label>
                <input type="email" matInput  placeholder="email">
              </mat-form-field>
        </div>
        <div class="w-full flex flex-warp">
            <mat-form-field >
                <mat-label>Age</mat-label>
                <input type="number" matInput  placeholder="age">
              </mat-form-field>
        </div>
        <div class="w-full flex flex-warp">
            <mat-form-field >
                <mat-label>phone</mat-label>
                <input type="number" matInput  placeholder="number">
              </mat-form-field>
        </div>
        <div class="w-full flex flex-warp">
            <mat-form-field >
                <mat-label>salary</mat-label>
                <input type="number" matInput  placeholder="salary">
              </mat-form-field>
        </div>
        <button mat-raised-button color="success">Submit</button>
    </form>
</div>